In [6]:
import pandas as pd

df = pd.read_csv('sales_subset.csv', index_col = 0)
df.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

## Median and Mean

In [9]:
print ('Promedio_Saladio', df['weekly_sales'].mean()) ## promedio del salario
print ('Media_Salario', df['weekly_sales'].median())
print ('Fecha Minima', df['date'].min())
print ('Fecha Maxima', df['date'].max())

Promedio_Saladio 23843.95014850566
Media_Salario 12049.064999999999
Fecha Minima 2010-02-05
Fecha Maxima 2012-10-26

## Suma acumulada y maximo acumulado

In [10]:
sales_1_1 =  df.sort_values('date' , ascending=True)
sales_1_1['cumsum_weekly_sales'] = sales_1_1['weekly_sales'].cumsum()
sales_1_1['cummax_weekly_sales'] = sales_1_1['weekly_sales'].cummax()
print (sales_1_1[['date', 'weekly_sales','cumsum_weekly_sales', 'cummax_weekly_sales']].head())

            date  weekly_sales  cumsum_weekly_sales  cummax_weekly_sales
0     2010-02-05      24924.50             24924.50             24924.50
6437  2010-02-05      38597.52             63522.02             38597.52
1249  2010-02-05       3840.21             67362.23             38597.52
6449  2010-02-05      17590.59             84952.82             38597.52
6461  2010-02-05       4929.87             89882.69             38597.52